<section class="phx-hero">
  <h1 class="text-4xl font-black" ><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>Using TailwindCSS with forms plugin</p>
  <input type="text" placeholder="Example..." />
</section>
